@model RegisterDTO
@{
    Layout = "_LoginLayout";
}

<div class="login_container d-flex flex-column justify-content-center align-items-center">
    <h2 class="mb-5 text-primary">Hospital Management</h2>
    <div class="loginDiv p-4 border rounded shadow bg-white" style="min-width: 300px;">
        <h2 class="login_text text-center mb-4">Register</h2>

        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <form asp-action="Index" asp-controller="Register" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Name" class="form-label">Full Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter your name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Enter password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success w-100">Register</button>

            <div class="mt-3 text-center">
                <span>
                    Already have an account? <a class="text-primary" href="/Login">Login</a> here!
                </span>
            </div>
        </form>
    </div>
</div>
