@model LoginDTO
@{
    Layout = "_LoginLayout";
}

<div class="login_container d-flex justify-content-center align-items-center">
    <div class="loginDiv p-4 border rounded shadow bg-white" style="min-width: 300px;">
        <h2 class="login_text text-center mb-4">User Login</h2>

        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <form asp-action="Index" asp-controller="Login" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Enter your password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>

            <div class="mt-3 text-center">
                <span>
                    Don't have an account? <a class="text-primary" href="/Register">Register</a> here!
                </span>
            </div>
        </form>
    </div>
</div>
